<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    <li><a href="{% url  'blog:bio' %}">Home</a></li>
                    <li><a href="{% url  'blog:projets' %}">Projet</a></li>
                    <li><a href="{% url  'blog:competences'%}">Compétences</a></li>
                    <li><a href="{% url  'blog:experiences'%}">Expériences</a></li>
                    <li><a href="{% url  'blog:informatique'%}">Informatique</a></li>
                    <li><a href="{% url  'blog:autre'%}">Autre</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>