{% extends 'layout/base.html' %}

{% load static from staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script type="text/javascript"
	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript"
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="{%static 'css/style1.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'css/style2.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'css/styles.css'%}" rel="stylesheet" type="text/css">

{%endblock%}
{% block content %}
<div>
    <h1>AHAH</h1>
    <link title="timeline-styles" rel="stylesheet" href="{%static 'timeline3/css/timeline.css'%}">
    <script src="{%static 'timeline3/js/timeline.js'%}"></script>
    <div id='timeline-embed' style="width: 100%; height: 600px">
        <script type="text/javascript">
            var additionalOptions = {
              start_at_end: true,
              default_bg_color: {r:0, g:0, b:0},
              timenav_height: 250
            }
            timeline = new TL.Timeline('timeline-embed',
                'https://docs.google.com/spreadsheets/d/1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI/pubhtml',
                additionalOptions);
        </script>
    </div>
</div>

<!--<div>  https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js
href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css"-->
<!--<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>-->

<!---->
<!--    <script type="text/javascript">-->
<!--        timeline = new TL.Timeline('timeline-embed',-->
<!--          -->
<!--</div>-->
<!--    </div>-->

<!--         // The TL.Timeline constructor takes at least two arguments:
            // the id of the Timeline container (no '#'), and
            // the URL to your JSON data file or Google spreadsheet.
            // the id must refer to an element "above" this code,
            // and the element must have CSS styling to give it width and height
            // optionally, a third argument with configuration options can be passed.
            // See below for more about options.
    <div class="col-md-12"></div>-->
	<!--<div class="section">-->
		<!--<div class="container">-->
			<!--<div class="row">-->
				<!--<div class="col-md-12">-->
					<!--<img src='img/fond1.jpg' class="img-responsive">-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
{% include 'blog/layout/_nav.html' %}

<!--<div class="wrapper">


    <h1>Blog</h1>--!>

    {%block body%}{%endblock%}

 <!--</div>--!>

{% block javascripts %}{%endblock%}


{% include 'blog/layout/_footer.html' %}

{% endblock %}
