{% extends 'layout/base.html' %}

{% load static %}

{% block stylesheets %}
<script type="text/javascript"
	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript"
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="{%static 'css/style1.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'css/style2.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'css/styles.css'%}" rel="stylesheet" type="text/css">
{%endblock%}
{% block content %}
<div class="col-md-12"></div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img src=src="https://ununsplash.imgix.net/photo-1423753623104-718aaace6772?w=1024&amp;q=50&amp;fm=jpg&amp;s=1ffa61419561b5c796bca3158e7c704c" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
{% include 'blog/layout/_nav.html' %}

<!--<div class="wrapper">


    <h1>Blog</h1>--!>

    {%block body%}{%endblock%}

 <!--</div>--!>

{% block javascripts %}{%endblock%}


{% include 'blog/layout/_footer.html' %}

{% endblock %}
